services:
  mongo:
    image: mongo:8
    container_name: dnd-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: dnd
    ports: ["27017:27017"]
    volumes:
      - mongo_data:/data/db
      - ./seed:/seed

  viewer:
    build:
      context: .
      dockerfile: Dockerfile.Viewer
    container_name: dnd-viewer-go
    depends_on: [mongo]
    environment:
      - MONGO_URI=mongodb://admin:password@mongo:27017/?authSource=admin
      - DB_NAME=dnd
      - PORT=8000
      - ENVIRONMENT=production
    ports: ["8000:8000"]
    restart: unless-stopped

volumes:
  mongo_data:
