package templates

import "github.com/emiliopalmerini/quintaedizione.online/internal/domain/collections"

templ CollectionIcon(name string) {
	switch collections.CollectionName(name) {
		case collections.Classi:
			⚔️
		case collections.Backgrounds:
			📜
		case collections.Incantesimi:
			✨
		case collections.Talenti:
			💎
		case collections.Equipaggiamenti:
			🎒
		case collections.Servizi:
			🪙
		case collections.Regole:
			📖
		case collections.OggettiMagici:
			🪄
		case collections.Mostri:
			🐉
		case collections.Glossario:
			📚
		case collections.Specie:
			👥
		default:
			📁
	}
}
